<% if @manage -%>
<!-- file managed by puppet -->
<% else -%>
<!-- file created (but not managed by puppet -->
<% end -%>
<Connector URIEncoding="<%= @uri_encoding %>" 
           port="<%= @port %>" 
<% if @address -%>
           address="<%= @address %>"
<% end -%>
<% if @scheme -%>
           scheme="<%= @scheme %>"
<% end -%>
<% if @executor -%>
           executor="<%= @executor %>"
<% end -%>
<% if @secretRequired -%>
           secretRequired="<%= @secretRequired %>"
<% end -%>
           <%= @options.collect! {|i| "#{i}" }.join("\n") %>
           protocol="<%= @protocol %>" 
           connectionTimeout="<%= @connection_timeout %>" 
           redirectPort="<%= @redirect_port %>" />
